/*    general    */
*{
    transition: 100ms;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*    header-navbar    */
header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    background-color: #444444;
    color:white;
}

header h1{
    margin: 0;
    font-size: 4rem;
    font-weight: 500;
    transform: translateX(150%);
}

header ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header ul img {
    height: 4vh;
}
header li {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;

}
#links li:hover{
    background-color: #df3906;
}

#links{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3d3d;
}
#links li{
    padding: 3vh;
    margin: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.185);
    
}
#links li:last-child{
    border-right:1px solid rgba(0, 0, 0, 0.185);
}
#lang{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3d3d;
    padding: 3vh;
    border-left: 1px solid rgba(0, 0, 0, 0.185);
}
#lang li:hover{
    box-shadow: inset 0 0 0 6px #ffe5de8a;
    border-radius: .5rem;
}
/*    main    */
main{
    height: 89vh;
    border-bottom: 1px solid black;
    
}
.particles-and-nodes {
    position: relative;
    height: 90vh;
}
#banner{ 
    position: relative;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
}


#banner div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    filter:none;
}

#banner canvas {
    height: 100%;
    max-width: 100%;
    backdrop-filter: blur(10px);
}


#banner img{
    height: 20vh;
    width: 20vh;
    margin-bottom: 2.5vh;
}

.banner-content {
    display: grid;
    grid-template-rows: auto 1fr;  /* Adjust row heights as needed */
    align-items: center;
    text-align: center;  /* Center content horizontally */
  }



/*https://codepen.io/geoffgraham/pen/jrWwWM*/
#typewriter h2{
    padding: .5vh;

    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    margin: 0 auto;
    z-index: 10;
    animation: 
        typing 3.5s steps(30, end) alternate infinite,
        blink-caret .5s step-end infinite;
    }

    /* The typing effect */
    @keyframes typing {
    from { width: 0 }
    to { width: 100% }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255) }
    }


#scroll-down{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: end;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
}

#scroll-down:hover{
    opacity: 1;
}

.fas.fa-chevron-down{
    font-size: 2rem;
    color: white;
}

/*    about-me   */
#about-me{
    background-color: #3d3d3d;
    color:white;
    display: flex;
    justify-content: center;
    padding: 2vh;
    border-bottom: solid black 1px;
}
#about-me>*{
    padding: 5vh;
}
#about-me a{
    text-decoration: none;
    color: #c9c9c9;
}
#about-me a:visited{
    text-decoration: none;
}
#about-me a:hover{
    color: #cecece;
    text-decoration: underline;
}
#about-me p{
    max-width: 50vw;
}
#about-me div p {
    display: flex;
    align-items: center;
}
#about-me div p img {
    padding-right: 1vh;
}

/*    carousel   */
/*https://codepen.io/studiojvla/pen/qVbQqW?editors=0100*/

#technology-carousel{
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2e2e2e;
    padding: 2vh;
    border-bottom: 1px solid black;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    margin: auto;
    overflow: hidden;
    position: relative;
}
#technology-carousel::before,
#technology-carousel::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 10vh;
    position: absolute;
    z-index: 2;
}
#technology-carousel::after{
    right: 0;
    top: 0;
    transform: rotate(180deg);
}
#technology-carousel::before{
    left:0;
    top:0;
}

.slide-track{
    animation:scroll 10s alternate infinite;
    display: flex;
    width: calc(5vw*14);
}
.slide-track img{
    height: 10vh;
    width: auto;
    padding-left: 5vw;
    padding-right: 5vw;
}
@keyframes scroll{
    0%{
        transform: translateX(calc(-4vw));
    }
    100%{
        transform: translateX(calc(-2.5vw*7));
    }
}

/*    tech     */
#tech{
    background: linear-gradient(90deg,#2e2e2e 0%,#3d3d3d 20%,#3d3d3d 80%,#2e2e2e 100%);
    border-bottom: black 1px solid;
}
#tech h1{
    padding: 2.5vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.text_firstLine{
    display: flex;
    justify-content: center;
}.text_secondLine{
    display: flex;
    justify-content: center;
}

/*    soft     */
#soft{
    height: 30vh;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: black 1px solid;
}
#soft h2{
    padding: 0.5vh;
    color: #ffffff;
    font-weight: 100;
}
.progress{
    margin: 1.2vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/*   portfolio   */
#portfolio{
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 10vh;
    background: linear-gradient(90deg,#2e2e2e 0%,#3d3d3d 20%,#3d3d3d 80%,#2e2e2e 100%);
    border-bottom: 1px solid black;
}
.carousel-item img {
    height: 60vh;
}
.carousel-item a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item p{
    text-align: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:1vh
}
#portfolio h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-bottom: 5vh;
    padding-top: 5vh;
    color:#a7a7a7
}
/*    contact     */
#contact{
    background-color: #2e2e2e;
    height: 70vh;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.904);
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-right: 0;
    margin-left: 1vw;
    border-left: 1px solid black;
    height: 100%;
    padding-left: 2vw;
    padding-right: 8vw;
    background-color: #3d3d3d;
    
}
.links div{
    display: flex;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.links img{
    height: 3vh;
    padding-right: 1vw;
}
.links a{
    color: #a7a7a7;
    text-decoration: none;
}
.links a:hover{
    color: #c2c2c2;
    text-decoration: underline;
}
.form {
    margin: 0 auto;
    height: 50vh;
  }
  
  /* https://codepen.io/Gogh/pen/gOqVqBx */
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
  
  .ring {
    position: relative;
    width: 25vw; /* Use viewport width units for responsiveness */
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
  }
  
  .ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
  }
  
  .ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 4s linear infinite;
  }
  
  .ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
  }
  
  .ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
  }
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate2 {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .login {
    position: absolute;
    width: 80%; /* Use viewport width units for responsiveness */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .login h2 {
    font-size: 2em;
    color: #fff;
  }
  
  .login .inputBx {
    position: relative;
    width: 100%;
  }
  
  .login .inputBx input {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
  }
  
  .login .inputBx input[type="submit"] {
    width: 100%;
    background: #0078ff;
    background: linear-gradient(45deg, #ff357a, #ec1c1c);
    border: none;
    cursor: pointer;
  }
  
  .login .inputBx input::placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
  
  #textarea {
    resize: none;
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
    margin-top: 0.4vh; /* Adjust margin-top as needed */
  }
footer{
    height: 8vh;
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a{
    color: #a7a7a7;
}
footer a:hover{
    text-decoration: underline;
    color: #cecccc;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    width: 40px;
    height: 40px;
    background-color: #dddddd00;
    border-radius: 50%;
    text-decoration: none;
    overflow: hidden;
    z-index: 10;
}

.back-to-top::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ddd;
    border-left: 15px solid transparent;
}

.back-to-top:hover{
    background-color: #aaaaaa59;
}